* {
	margin: 0;
	padding: 0px;
	/* font-family: 'Open Sans', sans-serif; */
	font-family: serif;
	
}
body {
	background: #fff;
	margin: 0;
	color: #5a5a5a;
}

a {
	color: #5a5a5a;
}

.notice-message {
	position: fixed;
	height: 25px;
	width: 100%;
	background-color: grey;
	text-align: center;
	font-size: 14px;
	color: white;
	z-index: 9999;
}

.notice-message > a {
	color: white;
}

.intro-container {
	position: relative;
	top: 15%;
	text-align: center;
}

.intro-title {
	font-weight: 700;
	font-size: 63px;
	color: rgb(90,90,90);
	margin-bottom: 10px;
	border-bottom: 1px solid #FFFFFF;
	border-bottom-color: rgb(90,90,90);
	/*padding-top: 150px;*/
	padding-bottom: 20px;
	display: inline-block;
}

.intro-subtitle {
	font-size: 22px;
}

.intro-scroll {
	height: 60px;
	width: 50px;
	display: block;
	position: absolute;
	bottom: 10px;
	right: 48%;
	text-align: center;
	z-index: 6;
}

.intro-scroll .glyphicon {
	color: rgb(90,90,90);
	font-size: 30px;
	animation-name: wiggle;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
	padding-top: 10px;
}

.background-grey {
	background-color: #f3f3f3;
}

.no-bullets {
	list-style-type: none;
}

.notes {
	font-weight: 300;
	color: #666;
}

.text-small {
	font-size: 14px;
}

.text-normal {
	font-size: 16px;
}

ul.notes {
	/*list-style-type: none;*/
	padding-left: 30px;
}
ul.notes > li {
	text-indent: 15px;
	padding-top: 3px;
}
ul.notes > li:before {
	/*content: "-";*/
	text-indent: 15px;
}

.skill-score {
	float: right;
	color: rgb(90,90,90);
}

h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Open Sans', sans-serif;*/
	font-weight: 300;
	text-align: center;
	color: rgb(90,90,90);
}

p {
	padding: 0;
	margin-bottom: 12px;
	/*font-family: 'Open Sans', sans-serif;*/
	font-weight: 300;
	font-size: 18px;
	line-height: 28px;
	color: #666;
	margin-top: 10px;
}

p.lead {
	text-align: center;
}

hr {
	margin: 40px;
}

hr.small {
	margin: 10px;
}

html,
body {
	height: 100%;
}

.header {
	/* background: no-repeat center right fixed url('https://thumbs.dreamstime.com/b/big-data-visualization-d-technology-blue-wave-analytics-representation-digital-background-rendering-165769106.jpg'); */
	background-size: cover;
	overflow: hidden;
}

.header-text {
	padding
}

.three_waves {
	position: absolute;
}

.centered {text-align: center}

.container {
	padding: 40px 140px;
	/*margin: 0px 0px !important;*/
}

div.small-spacing {
	padding: 20px;
}

@keyframes wiggle {
	0% {
		padding-top: 20px;
	}

	50% {
		padding-top: 28px;
	}

	100% {
		padding-top: 20px;
	}
}

figure {
	display: block;
    height: 100%;
    width: 100%;
	position: absolute;
	font-size: 14px;
}

.list-hex-grid div.hex:hover a {
	/* filter: blur(3px); */
	filter: drop-shadow(8px 13px 8px black) brightness(0.3);
	transform: translateY(-10px);

	-webkit-transition: all 0.3s ease;
	-moz-transition:    all 0.3s ease;
	-o-transition:      all 0.3s ease;
}

.list-hex-grid div.hex:hover figcaption {
	opacity: 1;
	top: -30%;
}

figcaption {
	position: absolute;
	/* background: rgba(0,0,0,0.75); */
	color: white;
	padding: 10px 20px;
	max-width: 100%;
	z-index: 5; 
	/* height: 100%; */

	opacity: 0;
	/* top: 0; */
	top: 20%;
	-webkit-transition: all 0.6s ease;
	-moz-transition:    all 0.6s ease;
	-o-transition:      all 0.6s ease;
}

figure span.icon {
	position: absolute;
	background: rgb(90,90,90);
	top: 0px;
	right: 0px;
	width: 40px;
	height: 40px;
	font-size: 18px;
	padding: 11px;
}

figure a {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1000;
	top: 0px;
	left: 0px;
}

/* figure:hover figcaption {
	opacity: 1;
	left: 0;
} */

.hider {
	display: none;
}

.slide-toggle {
	cursor: pointer;
}

.project-img {
	width: 100%;
}

/* 
HEXAGON STYLES
*/
.list-hex-grid {
    /* margin-top: 55px; */
    /* margin-bottom: 55px; */
    font-size: 0;
    word-spacing: 1px;
    word-spacing: 0;
}
.list-hex-grid div.hex {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-top: 37px;
    margin-bottom: 37px;
    float: none;
    position: relative;
    z-index: 10;
}
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-fifth {
    float: left;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    max-width: 100%;
}
.grid-3 {
    width: 190px;
}

/* .list-hex-grid div.hex {
	border-radius: 50%;
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
		transition: transform 0.5s ease-in-out;
}

.list-hex-grid div.hex:hover {
-webkit-transform: scale(1.15);
		transform: scale(1.15);
	} */
	
/* .list-hex-grid div.hex>a:hover,
.list-hex-grid div.hex>div:hover {
	border:none;
} */


.list-hex-grid div.hex .hex-1 {
    z-index: -1;
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}

.list-hex-grid div.hex .hex-1, .list-hex-grid div.hex .hex-2 {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2;
    top: 0;
    left: 0;
    overflow: hidden;
    background: inherit;
    -webkit-backface-visibility: hidden;
}
.list-hex-grid div.hex>a, .list-hex-grid div.hex>div {
    font-size: 18px;
    word-spacing: 1px;
    -moz-transition: none 1s;
    -o-transition: none 1s;
    -webkit-transition: none 1s;
    transition: none 1s;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -moz-background-size: auto 220px;
    -o-background-size: auto 220px;
    -webkit-background-size: auto 220px;
    background-size: auto 220px;
    text-align: center;
    display: block;
    border: none;
    color: #fff;
    -webkit-backface-visibility: hidden;
}
.list-hex-grid div.hex>a, .list-hex-grid div.hex>div {
    height: 110px;
    line-height: 220px;
}

.list-hex-grid {
    margin-top: 55px;
    margin-bottom: 55px;
    font-size: 0;
    word-spacing: 1px;
    word-spacing: 0;
}
.list-hex-grid div.hex .hex-1:before {
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.list-hex-grid div.hex .hex-1:before, .list-hex-grid div.hex .hex-2:before {
    content: '';
    position: absolute;
    background: inherit;
    left: 0;
    background: inherit;
}
.list-hex-grid div.hex .hex-1:before, .list-hex-grid div.hex .hex-1 .after, .list-hex-grid div.hex .hex-2:before, .list-hex-grid div.hex .hex-2 .after {
    z-index: -2;
}
.list-hex-grid div.hex .hex-1:before {
    -moz-transform: rotate(-60deg) translate(-110px,0);
    -ms-transform: rotate(-60deg) translate(-110px,0);
    -webkit-transform: rotate(-60deg) translate(-110px,0);
    transform: rotate(-60deg) translate(-110px,0);
}
.list-hex-grid div.hex .hex-1:before, .list-hex-grid div.hex .hex-2:before {
    height: 220px;
    width: 220px;
}

.list-hex-grid div.hex .hex-2 {
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
}
.list-hex-grid div.hex .hex-1, .list-hex-grid div.hex .hex-2 {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2;
    top: 0;
    left: 0;
    overflow: hidden;
    background: inherit;
    -webkit-backface-visibility: hidden;
}
.list-hex-grid div.hex>a, .list-hex-grid div.hex>div {
    font-size: 18px;
    word-spacing: 1px;
    -moz-transition: none 1s;
    -o-transition: none 1s;
    -webkit-transition: none 1s;
    transition: none 1s;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -moz-background-size: auto 220px;
    -o-background-size: auto 220px;
    -webkit-background-size: auto 220px;
    background-size: auto 220px;
    text-align: center;
    display: block;
    border: none;
    color: #fff;
    -webkit-backface-visibility: hidden;
}
.list-hex-grid div.hex>a, .list-hex-grid div.hex>div {
    height: 110px;
    line-height: 220px;
}

.list-hex-grid {
    margin-top: 55px;
    margin-bottom: 55px;
    font-size: 0;
    word-spacing: 1px;
    word-spacing: 0;
}
.list-hex-grid div.hex .hex-2:before {
    bottom: 0;
}

.list-hex-grid div.hex .hex-2:before {
    -moz-transform: rotate(60deg) translate(40px,40px);
    -ms-transform: rotate(60deg) translate(40px,40px);
    -webkit-transform: rotate(60deg) translate(40px,40px);
    transform: rotate(60deg) translate(40px,40px);
}
