* {
	margin: 0;
	padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
body {
	background: #fff;
	margin: 0;
	color: #5a5a5a;
}

a {
	color: #5a5a5a;
}

.notice-message {
	position: fixed;
	height: 25px;
	width: 100%;
	background-color: grey;
	text-align: center;
	font-size: 14px;
	color: white;
	z-index: 9999;
}

.notice-message > a {
	color: white;
}

.intro-container {
	position: relative;
	top: 15%;
	text-align: center;
}

.intro-title {
	font-weight: 700;
	font-size: 63px;
	color: rgb(90,90,90);
	margin-bottom: 10px;
	border-bottom: 1px solid #FFFFFF;
	border-bottom-color: rgb(90,90,90);
	/*padding-top: 150px;*/
	padding-bottom: 20px;
	display: inline-block;
}

.intro-subtitle {
	font-size: 28px;
}

.intro-scroll {
	height: 60px;
	width: 50px;
	display: block;
	position: absolute;
	bottom: 0px;
	right: 48%;
	text-align: center;
	z-index: 6;
}

.intro-scroll .glyphicon {
	color: rgb(90,90,90);
	font-size: 30px;
	animation-name: wiggle;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
	padding-top: 10px;
}

.background-grey {
	background-color: #f3f3f3;
}

.no-bullets {
	list-style-type: none;
}

.notes {
	font-weight: 300;
	color: #666;
}

.text-small {
	font-size: 14px;
}

.text-normal {
	font-size: 16px;
}

ul.notes {
	/*list-style-type: none;*/
	padding-left: 30px;
}
ul.notes > li {
	text-indent: 15px;
	padding-top: 3px;
}
ul.notes > li:before {
	/*content: "-";*/
	text-indent: 15px;
}

.skill-score {
	float: right;
	color: #f8ac22;
}

h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Open Sans', sans-serif;*/
	font-weight: 300;
	text-align: center;
	color: #f8ac22;
}

p {
	padding: 0;
	margin-bottom: 12px;
	/*font-family: 'Open Sans', sans-serif;*/
	font-weight: 300;
	font-size: 18px;
	line-height: 28px;
	color: #666;
	margin-top: 10px;
}

p.lead {
	text-align: center;
}

hr {
	margin: 40px;
}

hr.small {
	margin: 10px;
}

html,
body {
	height: 100%;
}

.header {
	background: no-repeat center right fixed url('/img/oriental-background-vector-cropped.png');
	/*background-image: url('/img/oriental-background-vector-cropped.png');*/
	background-size: cover;
	overflow: hidden;
}

.header-text {
	padding
}

.centered {text-align: center}

.container {
	padding: 40px 140px;
	/*margin: 0px 0px !important;*/
}

div.small-spacing {
	padding: 20px;
}

@keyframes wiggle {
	0% {
		padding-top: 20px;
	}

	50% {
		padding-top: 28px;
	}

	100% {
		padding-top: 20px;
	}
}

figure {
	display: block;
	position: relative;
	overflow: hidden;
}

figure span.icon {
	position: absolute;
	background: #f8ac22;
	top: 0px;
	right: 0px;
	width: 40px;
	height: 40px;
	font-size: 18px;
	padding: 11px;
}

figure a {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1000;
	top: 0px;
	left: 0px;
}

figcaption {
	position: absolute;
	background: rgba(0,0,0,0.75);
	color: white;
	padding: 10px 20px;
	max-width: 100%;

	opacity: 0;
	bottom: 0;
	left: -30%;
	-webkit-transition: all 0.6s ease;
	-moz-transition:    all 0.6s ease;
	-o-transition:      all 0.6s ease;
}

figure:hover figcaption {
	opacity: 1;
	left: 0;
}

.hider {
	display: none;
}

.slide-toggle {
	cursor: pointer;
}

.project-img {
	width: 100%;
}
